body {
    background-image: url('images/Library_Interior.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.inconsolata-heading {
    font-family: 'Inconsolata', monospace;
    color: rgb(211, 205, 205);
    background-color: rgb(73, 17, 17);
    padding: 10px;
}

/* Customize navbar styles for dark mode */
.navbar[data-bs-theme="dark"] {
    background-color: #333; 
    color: #fff;
}

h2, h3, .Donation_Header, #Donation_Disclaimer1, #Donation_Disclaimer2, #FL_Address, #Drop_Off_Locations, #Volunteer_Hours {
    background-color: rgba(0,0,0,0.9);
    display: inline-block;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
}

.Donation_Header {
    text-decoration: underline;
}

#Donation_Disclaimer1 {
    font-weight: bold;
    font-style: italic;
}

#Donation_Disclaimer2 {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(206, 236, 97);
}
#Exciting_place_to_work{
    background-color: rgba(0,0,0,0.9);
    display: inline-block;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
}
#FL_Address {
    font-style: italic;
    font-size: larger;
}

.location-box, .hours-box, #Payment_Options, #Phone_Contact, .Disclaimers {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.map-container, #Address_Container, .login-container {
    border: 50px solid rgba(73, 17, 17, 0.9);
    border-radius: 25px;
    padding: 0px;
    display: inline-block;
    background-color: rgba(73, 17, 17, 1);
}

#No_Checks {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: rgb(206, 236, 97);
}

.button-container {
    text-align: left; 
    margin-top: 20px; 
}

.btn {
    margin: 10px; 
}

.table {
    display: table;
    width: calc(100% - 40px); /* Subtract 40px (20px margin on each side) from the width */
    margin: 0 20px; /* Add margin on both sides */
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 15px; /* Add rounded corners */
    border-spacing: 0; /* Remove spacing between cells */
    border-collapse: separate; /* Separate borders between cells */
    overflow: hidden; /* Hide overflow content */
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.header {
    font-weight: bold;
    background-color: #333;
    border-top-left-radius: 15px; /* Add rounded corners to header cells */
    border-top-right-radius: 15px;
}

.table-row:last-child .table-cell {
    border-bottom: none; /* Remove bottom border from last row */
}

.account-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 999;
}

#floating-image {
    float: right;
    width: 600px;
    height: auto;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px; 
}
#user-icon {
    margin-left: 20px;
    border-radius: 10px;
}
#Forgot_Username_Password{
    border: 20px solid rgba(73, 17, 17, 0.9);
    border-radius: 25px;
    padding: 0px;
    display: inline-block;
    background-color: rgba(73, 17, 17, 1);
    text-align: center;    
}

#Account_Recovery_Box, .login-container {
    border: 20px solid rgba(73, 17, 17, 0.9);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 17, 17, 1);
    text-align: center;
    margin: 0 auto; /* This will center the box horizontally */
    max-width: 600px; /* Set a max-width to prevent the box from becoming too wide */
    margin-top: 20px; /* Add some top margin */
}

#Application_Download_Box {
    border: 20px solid rgba(73, 17, 17, 1);
    border-radius: 25px;
    padding: 20px;
    display: inline-flex;
    align-items: center; /* Center items vertically */
    background-color: rgba(73, 17, 17, 1);
    text-align: left;
}

#download-arrow {
    max-width: 60px;
    height: auto;
    margin-right: 20px; /* Add some space between the image and the text */
}

.download-text {
    display: flex;
    flex-direction: column;
}

#Doctor_Bookman{
    border: 20px solid rgba(73, 17, 17, 0.9);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 17, 17, 1);
    text-align: center;
    margin: 0 auto; /* This will center the box horizontally */
    max-width: 400px; 
    margin-top: 20px; 
}

#careers-container {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}

#careers-table {
    border: 10px solid rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    max-width: 600px;
    margin-right: 20px;
}

#careers-image {
    max-width: 500px; 
    height: auto;
    border-radius: 15px;
}

#Exciting_place_to_work{
    background-color: rgba(0,0,0,0.9);
    display: inline-block;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
}
#Submit_Applications_Box {
    border: 20px solid rgba(73, 17, 17, 1);
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
    background-color: rgba(73, 17, 17, 1);
    text-align: left;
    margin-top: 20px;
}

#Submit_Applications_Box p {
    color: white;
}

#Submit_Applications_Box a {
    color: white;
    text-decoration: underline;
}
.small-carousel {
    max-width: 300px; /* Adjust the width to your preference */
    margin: 0 auto; 
}

.small-carousel .carousel-inner {
    width: 100%; /* Ensure the inner width matches the outer */
}

.small-carousel .carousel-item img {
    width: 100%; /* Scale images to fit the container */
    height: auto; /* Maintain aspect ratio */
}
.book-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each book entry */
    margin: 20px;
}

.book {
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(73, 17, 17, 0.9);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(73, 17, 17, 0.9);
}

.book-cover img {
    width: 150px; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 1.5em;
    color: rgb(211, 205, 205);
}

.book-author, .book-description, .book-status {
    font-size: 1em;
    color: rgb(211, 205, 205);
}

.book-synopsis {
    margin-top: 20px;
    color: rgb(211, 205, 205);
}

.book-synopsis p {
    font-size: 0.9em;
    color: rgb(211, 205, 205);
}
